{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="row seperation-header w-100"></div>
{% endblock %}

{% block content %}

{% include 'includes/logo-top.html' %}

<div class="row w-100 main-content">

    <div class="col left-side-content">
        {% include 'includes/left-side.html' %}
    </div>

    <div class="col col-lg-8 main-content">
        <div class="row">
            <div class="col-10 offset-1 my-4">
                <div class="outer-border-cut">
                    <div class="inner-border-cut">
                        <h3>Latest News</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row latest-articles-row main-row">
            {% for article in latest_articles %}
            <div class="col latest-articles card rounded-0" id="latest-articles-{{ forloop.counter }}">
                <div class="bg-image hover-overlay rounded-0">
                    <a href="{% url 'article' article.article_number %}">
                        <img src="{{ article.article_image.url }}" class="img-fluid latest-articles-picture"/>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <a href="{% url 'article' article.article_number %}">
                        <h4 class="card-title text-uppercase">{{ article.heading }}</h4>
                        <p class="card-text">{{ article.article_insight }}</p>
                    </a>
                </div>
                <a class="btn text-white bg-dark-blue rounded-0 text-uppercase mb-2 col-6 offset-3"
                    href="{% url 'home' %}?region={{ article.article_region.name }}">
                    {{ article.article_region.display_name }}
                </a>
            </div>
            {% endfor %}
        </div>
        {% for category in categories %}
        <div class="row">
            <div class="col-10 offset-1 mt-5 mb-4">
                <div class="outer-border-cut">
                    <div class="inner-border-cut">
                        <h3>{{ category.display_name }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row latest-articles-row">
            {% for articles in latest_articles_by_category %}
                {% for article in articles %}
                    {% if article.article_category == category %}
                        <div class="col latest-articles-by-category card rounded-0" id="latest_articles_by_{{ category }}_{{ forloop.counter }}">
                            <div class="bg-image hover-overlay rounded-0">
                                <a href="{% url 'article' article.article_number %}">
                                    <img src="{{ article.article_image.url }}" class="img-fluid"/>
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'article' article.article_number %}">
                                    <h4 class="card-title text-uppercase">{{ article.heading }}</h4>
                                    <p class="card-text">{{ article.article_insight }}</p>
                                </a>
                            </div>
                            <a class="btn text-white bg-dark-blue rounded-0 text-uppercase mb-2 col-8 offset-2"
                                href="{% url 'home' %}?region={{ article.article_region.name }}">
                                {{ article.article_region.display_name }}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col right-side-content">
        {% include 'includes/right-side.html' %}
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}
