{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta property="og:url"           content="{{ request.get_full_path }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ article.heading }}" />
    <meta property="og:description"   content="{{ article.article_insight }}" />
    <meta property="og:image"         content="{{ article.article_image.url }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ request.get_full_path }}">
    <meta name="twitter:title" content="{{ article.heading }}">
    <meta name="twitter:description" content="{{ article.article_insight }}">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/MarisKX/AirfieldNews/main/{{ article.article_image.url }}">
    <meta name="twitter:domain" content="airfieldnews.live">
{% endblock %}



{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/article-elements.css' %}">
{% endblock %}

{% block page_header %}
    <div class="row seperation-header w-100"></div>
{% endblock %}

{% block content %}

{% include 'includes/logo-top.html' %}

<div class="row w-100">

    <div class="col-3 col-xl-4 left-side-content-article-page">
        {% include 'includes/left-side.html' %}
    </div>

    <div class="col-sm-12 col-lg-6 col-xl-4 article-content">
        <div class="row heading-row">
            <div class="col-12 container-article-heading">
                <a class="btn text-white bg-dark-blue rounded-0 text-uppercase col-3 ms-2 region-on-image"
                    href="{% url 'home' %}?region={{ article.article_region.name }}">
                    {{ article.article_region.display_name }}
                </a>
                <img class="heading-image" src="{{ article.article_image.url }}" alt="{{ article.heading }}" style="width:100%;">
                <div class="article-heading mx-3">
                    <h1 class="fw-bold mt-5 article-heading-mobile">{{ article.heading }}</h1>
                </div>
            </div>
        </div>
        <div class="article-content mb-5">
            <hr>
            <p>{{ article.date }} by {{ article.posted_by }}</p>
            <div class="fb-share-button btn" 
                data-href="{{ request.get_full_path }}" 
                data-layout="button_count">
            </div>
            <a class="twitter-share-button btn border-0"
                href="https://twitter.com/intent/tweet?text=AirfieldNews | {{ article.heading }}">
                Tweet
            </a>
            <hr>
            {% for element in article_elements %}
                {% if element.type.name == 'text_field' %}
                    {% include 'includes/article_elements/text_field.html' %}
                {% elif element.type.name == 'sub_heading' %}
                    {% include 'includes/article_elements/sub_heading.html' %}
                {% elif element.type.name == 'image_field' %}
                    {% include 'includes/article_elements/image_field.html' %}
                {% elif element.type.name == 'twitter' %}
                    {% include 'includes/article_elements/twitter.html' %}
                {% elif element.type.name == 'quote' %}
                    {% include 'includes/article_elements/quote.html' %}
                {% endif %}
            {% endfor %}
            {% if article.source %}
                <small class="source fw-bold">Source: <a href="{{ article.original_post }}" target="_blank">{{ article.source }}</a></small>
            {% endif %}
            <hr>
            {% for tag in article_tags %}
                <a class="btn bg-dark-blue text-white rounded-0 tag-btn" href="{% url 'home' %}?tag={{ tag.tag_name.name }}">{{ tag.tag_name.tag_name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-3 col-xl-4 right-side-content-article-page">
        {% include 'includes/right-side.html' %}
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}

{% block extra_js %}
    <script>    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
      }(document, "script", "twitter-wjs"));</script>
{% endblock %}