@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap');

.article-text-field {
    text-align: justify;
}

.article-inline-image {
    max-height: 400px;
    min-height: 230px;
    width: auto;

}

.source {
    font-family: 'Josefin Slab', serif;
}

.source:hover,
.source a:hover {
    color: black;
    font-size: 1.1em;
}

.container-article-heading {
    position: relative;
    margin-top: 5%;
    height: 100%;
}

.region-on-image {
    position: absolute;
    top: 3%;
}

.heading-row {
    margin-left: -15%;
    margin-right: -15%;
}

.article-heading {
    position: absolute;
    bottom: 5px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.heading-image {
    height: 80%;
    width: auto;
}

.right-side-content-article-page {
    padding-left: 8%;
}

.left-side-content-article-page {
    padding-right: 8%;
}

.twitter-share-button,
.fb-share-button {
    box-shadow: none;
}

@media (max-width: 1449px) {
    .left-side-content-article-page {
        width: 10%;
    }
    .article-content-container {
        width: 60%;
    }
}

@media (max-width: 1060px) {
    .right-side-content-article-page,
    .left-side-content-article-page {
        display: none;
    }
    .article-content-container {
        width: 90%;
    }.article-content-container {
        width: 90%;
    }
    .heading-row {
        margin-left: -4%;
    }
    .article-content {
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .article-heading-mobile {
        font-size: 1.8rem;
    }
    .article-content {
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .article-heading-mobile {
        font-size: 1.8rem;
    }
}

@media (max-width: 742px) {
    .article-heading-mobile {
        font-size: 1.4rem;
    }
}

@media (max-width: 542px) {
    .article-content-container {
        width: 98%;
    }
    .article-content {
        width: 95%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .article-heading-mobile {
        font-size: 1.0rem;
    }
}
