@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Exo 2', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.dropdown-toggle::after {
    display: none;
}

/* Colors  */
.bg-white {
    background-color: white !important;
}

.bg-light-blue {
    background-color: rgb(199,224,236) !important;
}

.text-white {
    color: white !important;
}

.text-dark-blue {
    color: rgb(60,108,180) !important;
}

.bg-dark-blue {
    background-color: rgb(60,108,180) !important;
}

.coming-soon {
    width: 95%;
    justify-content: center;
    margin: auto 0;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 15%;
}

.text-logo-color{
    color: rgb(60, 108, 181);
}

.text-center {
    margin-left: auto;
    margin-right: auto;
}

.top-logo-image {
    height: 100px;
    width: auto;
}

.page-header {
    z-index: 5;
}

.seperation-header {
    height: 192px;
    z-index: 0;
}

.navbar-expand {
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-row {
    height: 60px;
}

.nav-link {
    font-size: 1.4rem;
}

.test {
    height: 1300px;
}

.search-form {
    float: right;
    margin-right: 25px;
    margin-left: 20%;
}


.card-text {
    text-align: justify;
}

.card-body {
    max-height: 370px;
}

.latest-articles-picture {
    max-height: 300px;
    min-height: 140px;
    width: 100%;
}

.outer-border-cut {
    width: 300px;
    height: 60px;
    background-image: linear-gradient(160deg, rgb(60,108,180)20%,white 21%, white 85%, rgb(60,108,180)86%);
}

.outer-border-cut.search-result-heading {
    width: 400px;
}

.inner-border-cut {
    padding: 4px;
    height: 60px;
    text-align: center;
}

.inner-border-cut h3 {
    background-color: white;
    padding: 4px;
    height: 52px;
}

.tag-btn {
    margin: 2px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: justify;
}

.dropdown-item:hover {
    background-color: white;
    color: rgb(60,108,180) !important;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.nav-row-mobile {
    display: none;
}

.search-input-mobile,
.search-input-desktop {
    height: 36px !important;
}


/* responsive styling */
@media (min-width: 1400px) {
    .seperation-header {
        height: 252px;
    }
  
    .top-logo-image {
        height: 150px;
        width: auto;
    }

    .nav-row {
        height: 70px;
    }

    .navbar-expand {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .search-form {
        margin-left: 30%;
    }
}


/* Adjusted standard bootstrap grid col classes */
@media (min-width: 1450px) {
    .main-row {
        display: grid;
        grid-template-columns: repeat(8, 12%);
        grid-gap: 0.5%;
    }
    #latest-articles-1 {
        flex: 0 0 auto;
        grid-row: 1 / 4;
        grid-column: 1 / 5;
    }
    #latest-articles-2{
        flex: 0 0 auto;
        grid-row: 2 / 6;
        grid-column: 5 / 9;
    }
    #latest-articles-3{
        flex: 0 0 auto;
        grid-row: 1 / 2;
        grid-column: 5 / 7;
    }
    #latest-articles-4{
        flex: 0 0 auto;
        grid-row: 1 / 2;
        grid-column: 7 / 9;
    }
    #latest-articles-5{
        flex: 0 0 auto;
        grid-row: 4 / 6;
        grid-column: 1 / 3;
    }
    #latest-articles-6{
        flex: 0 0 auto;
        grid-row: 4 / 6;
        grid-column: 3 / 5;
    }

    #latest-articles-1 .latest-articles-picture,
    #latest-articles-2 .latest-articles-picture {
        min-height: 280px;
        max-height: 600px;
    }

    .latest-articles-by-category {
        flex: 0 0 auto;
        width: 33%;
        margin-left: 0.2%;
        margin-bottom: 1%;
    }
}

@media (max-width: 1449px) {
    .latest-articles-by-category,
    .latest-articles {
        flex: 0 0 auto;
        width: 48%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    #latest-articles-5,
    #latest-articles-6,
    .left-side-content {
        display: none;
    }
    .search-form {
        float: right;
        margin-right: 10px;
        margin-left: 8%;
    }
}

@media (max-width: 1060px) {
    .latest-articles-by-category,
    .latest-articles {
        flex: 0 0 auto;
        width: 45%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    .latest-articles-row {
        margin-left: 5%;
    }
    .outer-border-cut {
        width: 180px;
        height: 48px;
        background-image: linear-gradient(160deg, rgb(60,108,180)20%,white 21%, white 85%, rgb(60,108,180)86%);
    }
    
    .inner-border-cut {
        padding: 4px;
        height: 48px;
        text-align: center;
    }
    
    .inner-border-cut h3 {
        background-color: white;
        font-size: 1.3rem;
        padding: 4px;
        height: 40px;
    }
    .nav-row {
        display: none;
    }

    .nav-row-mobile {
        display: block;
        height: 70px;
    }

    .left-side-content,
    .right-side-content,
    .left-side-content-article-page,
    .right-side-content-article-page {
        display: none;
    }
    .main-content {
        width: 90%;
    }
    .navbar-expand {
        justify-content: end;
    }

    .burger-icon {
        float: right;
        margin-left: 50%;
    }
    .dropdown-mobile {
        min-width: 250px;
    }
    .outer-border-cut.search-result-heading {
        width: 300px;
    }
}


@media (max-width: 742px) {
    .latest-articles-by-category,
    .latest-articles {
        flex: 0 0 auto;
        width: 70%;
        margin-left: 15%;
    }
    .latest-articles-row {
        margin-left: 0;
    }
    .top-logo-image {
        height: 50px;
        width: auto;
    }
    .seperation-header {
        height: 152px;
    }
}

@media (max-width: 612px) {
    .latest-articles-by-category,
    .latest-articles {
        flex: 0 0 auto;
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 542px) {
    .latest-articles-by-category,
    .latest-articles {
        flex: 0 0 auto;
        width: 95%;
        margin-left: 5%;
    }
    .top-logo-image {
        height: 30px;
        width: auto;
    }
    .seperation-header {
        height: 132px;
    }
    .outer-border-cut.search-result-heading {
        width: 250px;
    }
}