html {
    height: 100%;
}

.temp-home-page {
    width: 95%;
    justify-content: center;
    margin: auto 0;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 15%;
}

.text-logo-color{
    color: rgb(60, 108, 181);
}

.text-center {
    margin-left: auto;
    margin-right: auto;
}