<footer class="container-fluid footer bg-dark-blue mt-5">
    <div class="footer-wrapper">
      <div id="footer-content" class="row">
        <div class="col-lg-2">
          
        </div>
        <div class="col-lg-8">
          <hr class="text-white">
          {% for tag in tags %}
            <a class="btn bg-white text-dark-blue rounded-0 tag-btn"
              href="{% url 'home' %}?tag={{ tag.name }}">
              {{ tag.tag_name }}
            </a>
          {% endfor %}
          <hr class="text-white">
        </div>
        <div class="col-lg-2">
        
        </div>
      </div>
    </div>
    <div id="copyright">
      <i class="far fa-copyright mx-5 my-3 fs-5 text-white" aria-hidden="true"> MK Software/AirfieldNews</i>
    </div>
</footer>